.search-toolbar {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
}

.search-input-container {
  padding: 0;
}

.button-icon {
  border: none;
  cursor: pointer;
  background: transparent;
}