<mat-toolbar>

  <mat-toolbar-row *ngIf="!showSearch" (click)="toggle()" class="search-toolbar">
    <span>Photo Gallery</span>
    <span class="spacer"></span>
    <mat-icon>search</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="showSearch" class="search-input-container">
    <mat-form-field appearance="fill">
      <input #search matInput type="text" [(ngModel)]="value" (ngModelChange)='changed.next($event)' (click)="search.select()">
      <button class="button-icon" matSuffix mat-icon-button aria-label="Clear" (click)="toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-toolbar-row>

</mat-toolbar>
